---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { PHONE_NUMBER } from '../consts';
import { PHONE_NUMBER2 } from '../consts';
---

<header>
	<nav class="basic-info-nav">

		<div class="contact-wrapper">
			<i class="fas fa-phone"></i>
			Hotline tư vấn
			<div class="contact-main-info-wrapper">
				<a href={`tel:${PHONE_NUMBER.replaceAll('.', '')}`}>
					{PHONE_NUMBER}
				</a>
				|
				<a href={`tel:${PHONE_NUMBER2.replaceAll('.', '')}`}>
					{PHONE_NUMBER2}
				</a>
			</div>
		</div>
		
		<a href="/" id="logo-url-home">
			<img src="../../src/assets/img/moc-mien-logo-full.png" alt="Trung tâm Tiếng Trung Mộc Miên" class="main-site-icon">
		</a>

		<div class="header-search">
			<div class="search-container">
				<i class="fa-solid fa-magnifying-glass search-icon"></i>
				<input type="text" placeholder="Tìm kiếm trên trang..."/>
			</div>
		</div>
	</nav>

</header>
<nav class="internal-links-nav">
	<HeaderLink href="/">Trang chủ</HeaderLink>
	<HeaderLink href="/about">Giới thiệu</HeaderLink>
	<HeaderLink href="/khoa-hoc">Khoá học</HeaderLink>
	<HeaderLink href="/bai-viet">Bài viết</HeaderLink>
	<HeaderLink href="/bai-viet">Liên hệ</HeaderLink>
</nav>
<style>
	nav a.active {
		text-decoration: none;
		border-bottom: 3px solid var(--accent);
	}

	header {
		margin: 0;
		background: var(--accent);
		height: 140px;
	}
	
	.basic-info-nav {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.contact-wrapper {
		width: 30%;
		text-align: center;
		color: #fff;
	}

	.contact-wrapper i {
		margin-right: 10px;
	}

	#logo-url-home {
		display: flex;
		align-items: center;
		height: 100%;
		width: 40%;
		justify-content: center;
	}

	.main-site-icon {
		height: 85%;
	}

	.contact-main-info-wrapper a {
		text-decoration: none;
		color: #fff;
	}

	.header-search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;
	}

	.search-container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.header-search input {
		background-color: #F2F3F4;
		outline: none;
		height: 32px;
		line-height: 32px;
		border: 1px solid var(--accent);
		border-radius: 25px;
		padding-left: 30px;
		width: 250px;
	}

	.header-search .search-icon {
		position: absolute;
		left: 10px; /* Adjust this value to position the icon within the input */
	}

	.internal-links-nav {
		height: 50px;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 0 150px;
	}
	
	.internal-links-nav a {
		line-height: 50px;
		padding: 0 30px;
		height: 100%;
		color: #333;
	}

	.internal-links-nav a:hover {
		border-bottom: 3px solid var(--accent);
	}
</style>
